/node_modules
/public/storage
/storage/*.key
/vendor
/resources/assets/bower_vendor
Homestead.json
Homestead.yaml
.env
/public/announces_pictures
/public/solutions_pictures
/public/profiles_pictures
/public/projects_pictures
/public/tools_pictures
!/public/announces_pictures/default.jpg
!/public/solutions_pictures/default.jpg
!/public/profiles_pictures/default.jpg
!/public/projects_pictures/default.jpg
!/public/tools_pictures/default.jpg
