<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cantidad de articulos</th>
        <th>Nombre de la etiqueta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <form name="tagForm" novalidate="">
          <td>0</td>
          <td>
            <input type="text" ng-model="newTag.name" class="form-control" validator="required" valid-method="blur">
          </td>
          <td>
            <button class="btn btn-primary" ng-click="storeTag(newTag)">Crear etiqueta</button>
          </td>
        </form>
      </tr>
      <tr ng-repeat="rowTag in tags">
        <td>
          <span>{{ rowTag.posts.length }}</span>
        </td>
        <td>
          <span>{{ rowTag.name }}</span>
          <input type="text" ng-model="rowTag.name" class="form-control hidden">
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-warning" ng-click="editRow()" datagrid-control>
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-success hidden" ng-click="updateTag(rowTag)" datagrid-control>
            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-danger" ng-click="destroyTag(rowTag)">
            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-primary">Cantidad total de etiquetas: {{ tagQuantity }}</div>

<ul class="pager" style="margin-bottom: 50px" ng-show="tagQuantity > 10">
  <li ng-click="back()" ng-class="{disabled: !allowBack}"><a href="#">Atras</a></li>
  <li ng-click="next()" ng-class="{disabled: !allowNext}"><a href="#">Siguiente</a></li>
</ul>
