<div class="separador" style="margin-top:50px"></div>
<slick-carousel-announces></slick-carousel-announces>

<div class="container" style="min-height: 600px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:100px">
      <ng-slick-solutions></ng-slick-solutions>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8" style="margin-bottom:50px">
      <slick-carousel-services></slick-carousel-services>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom:50px">
      <slick-carousel-posts></slick-carousel-posts>
    </div>
  </div>
</div>

<google-map-container></google-map-container>


<debug></debug>
