<div class="col-xs-12 col-sm-11 col-md-11" style="margin-bottom: 100px">

  <form name="announceForm" novalidate>

    <div class="form-group">
      <strong>Nombre del anuncio:</strong>
      <input type="text" ng-model="rowAnnounce.name" class="form-control" validator="required" valid-method="watch">
    </div>

    <div class="form-group">
      <strong>Imagen:</strong>
      <input type="file" ngf-select ng-model="rowAnnounce.picture" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" ngf-min-height="100" ngf-resize="{width: 800, height: 600}" class="form-control">
    </div>

    <div class="form-group">
      <strong>Titulo:</strong>
      <input type="text" ng-model="rowAnnounce.title" class="form-control" validator="required" valid-method="watch">
    </div>

    <div class="form-group">
      <strong>Descripcion:</strong>
      <textarea class="form-control" ng-model="rowAnnounce.description" validator="required" valid-method="watch" textarea-autosize></textarea>
    </div>

    <button class="btn btn-primary" ng-click="storeAnnounce(rowAnnounce)" ng-disabled="!announceForm.$valid || !rowAnnounce.picture">Crear anuncio</button>
  </form>

</div>

<debug></debug>
